
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.lancement {
  font-family: 'Lobster Two', cursive;
  font-size: 5rem;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  color: #343434;
  color: #FFF;
  text-shadow: 0 0 5px #ffffff00, 0 0 10px #ffffff59, 0 0 15px #ffffffb0, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #4aff180c;
 
  display: flex;
  align-items: center;
 padding-left: 13%;

}

*{
    margin : 1px;
    padding: 1px;
}


body{
    background:url(street.jpg)no-repeat center fixed;
    -webkit-background-size:cover ;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
    font-family: Arial, Helvetica, sans-serif;

}

.titre {
    font-family: 'Lobster Two', cursive;
    font-size: 5rem;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    color: #343434;
    color: #FFF;
    text-shadow: 0 0 5px #ffffff00, 0 0 10px #ffffff59, 0 0 15px #ffffffb0, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #4aff180c;
   
    display: flex;
    align-items: center;
   padding-left: 13%; 
}

#imgex{

    width: 50%;
    height: auto;
    max-height: 600px;
    max-width: 500px;
}


.img img {
    display: block;
    margin: 0 auto;
    
    margin-top: 40px;
    box-sizing: border-box;
    border : 1px solid rgb(57, 231, 22);
    width: 100%;
    height: auto;
}

.plateau {
    margin-top: auto;
    padding-top: auto;
    margin-bottom: auto;
    padding-bottom: 40px;
    height: auto;
    width: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.5em;
    flex-wrap: wrap;
    justify-content: space-around;
    border: #FFF 1px solid;
}

.carte {
    margin-top: auto;
    margin-bottom: auto; 
    padding-bottom: auto;
    padding-top: auto;
    display: inline-block;
    position: relative;
    width: 80%;
    height: 80%;
    
}
.plateau img {
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.9;
    box-shadow: 0 0 20px 5px rgba(187, 255, 0, 0.5);
    filter: drop-shadow(0 0 5px rgba(166, 255, 0, 0.5));
}
.flipcarte {
transform: rotateY(180deg);
transition: 0.5s;
}

#adresse{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

#numeroEni {
    text-align: center;
}

.nav {
 
    border-radius: 100px;
    float: left;
}

a {
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: .5s;
    text-decoration: none;
    color: white;
    height: 200px;
    width: 190px;
    padding: 0 25px;
    align-content: space-between;
    border-radius: 10px;
    border : 3px solid rgb(57, 231, 22);
}

.regle {
    margin-top: 50px;
    padding-left: 0;
    text-align: center;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(17, 17, 2), 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    font-size: 18px;
    color:yellow;
}
.fin_explication {
    margin-top: 50px;
    padding-left: 0;
    text-align: center;
    font-size: 18px;
    color:yellow;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(17, 17, 3), 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
li {
  margin-left: 20px;  
  justify-content: space-between;
}

#oeil {
    display: inline-block;
    width: 30%;
    height: 40%;
    margin: 0 auto;
}
#oeil2 {
    display: inline-block;
    width: 30%;
    height: 40%;
}
button img {
    width: 100%;
}
button:hover {
    cursor: pointer;
}

.validate {
    color: green;
}

.login {
    font-weight: bold;
    display: inline-block;
    width: 25vw;
    font-size: 1.3rem;
}

.infos li {
    color: red;
}
input[type="button"] {
    width: 10vw;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    color: white;
    background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

input[disabled] {
    background-color: red;
    color: black;
    cursor: not-allowed;
}

input[type="button"]:hover {
    cursor: pointer;
    background-color: rgb(0, 155, 0)
}

input[disabled]:hover {
    background-color: rgb(55, 60, 55);
    color: black;
    cursor: not-allowed;

}


.consigne {
    color: #FFF;

    text-shadow: #FFF 0 -1px 4px, rgb(72, 255, 0) 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}
.blockname {
    display: flex;

}
.blockmail {
    display: flex;

}
footer {
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgba(145, 255, 0, 0.938), 0 -10px 20px #ff8000, 0 -18px 40px #F00;

}

.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
}

.titreinscription {
    font-family: 'Lobster Two', cursive;
    font-size: 5rem;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    color: #343434;
    color: #FFF;
    text-shadow: 0 0 5px #ffffff00, 0 0 10px #ffffff59, 0 0 15px #ffffffb0, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #4aff180c;
   
    display: flex;
    align-items: center;
   padding-left: 10%; 
}
.formulairefield {
    background-color: #343434;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.titrelogin {
    font-family: 'Lobster Two', cursive;
    font-size: 5rem;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    color: #343434;
    color: #FFF;
    text-shadow: 0 0 5px #ffffff00, 0 0 10px #ffffff59, 0 0 15px #ffffffb0, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #4aff180c;
    display: flex;
    align-items: center;
   padding-left: 16%; 
   
}
.loginfield {
    background-color: #343434;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}